.title {
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
}

.title::placeholder {
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
}

.caption {
  font-size: 16px;
  font-weight: medium;
  line-height: 150%;
}

.caption::placeholder {
  font-size: 16px;
  font-weight: medium;
  line-height: 150%;
}

.credits {
  font-size: 9px;
  font-weight: medium;
  line-height: 166%;
}

.credits::placeholder {
  font-size: 9px;
  font-weight: medium;
  line-height: 166%;
}

.text-large {
  font-size: min(max(1vw, 17px)) !important;
}

.text-medium {
  font-size: max(0.9vw, 14px) !important;
}

.text-small {
  font-size: max(0.7vw, 12px) !important;
}
