@import "./font.css";
@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  padding: 0;

  /* unable to bounce scroll */
  overflow: hidden;
}

.ql-toolbar {
  position: sticky;
  top: 0;
}

.ql-container {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-editor {
  flex: 1;

  height: calc(100dvh - 444px) !important;
  overflow: scroll;

  font-size: 16px;
  font-weight: medium;

  line-height: 166%;
}

object {
  pointer-events: none;
}
