@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* font-smooth: antialiased; */
}

html,
body {
  margin: 0;
  padding: 0;

  /* unable to bounce scroll */
  overflow: hidden;
}

.ql-container {
  flex: 1;
}

.ql-editor {
  height: 100%;
}
