@import "./font.css";
@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* font-smooth: antialiased; */
}

html,
body {
  margin: 0;
  padding: 0;

  /* unable to bounce scroll */
  overflow: hidden;
}

.ql-toolbar {
  position: sticky;
  top: 0;
}

.ql-container {
  position: absolute;
  bottom: 0;

  height: calc(50vh - 43px) !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-editor {
  flex: 1;

  font-size: 12px;
  font-weight: medium;

  line-height: 166%;
}

object {
  pointer-events: none;
}
