.ql-slide {
  background-color: #333333;

  display: flex;
  overflow: hidden;

  user-select: none;

  cursor: pointer;
}

.glide__slides {
  padding: 0 !important;

  height: 100%;
  user-select: none;
  cursor: pointer;
}

.glide__slide {
  padding: 0 !important;
  padding-left: 0 !important;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.glide__slide::before {
  list-style-type: none !important;
  display: none !important;
}

.glide__slide img {
  pointer-events: none;

  user-select: none;
}
