.swiper {
  width: 100%;

  background-color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100% !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 75dvh;
  object-fit: contain;

  pointer-events: none;
}
