.swiper-container {
  width: 100%;
  position: relative;
}

.swiper {
  width: calc(100% - 60px) !important;

  background-color: white;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100% !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 75dvh;
  object-fit: contain;

  pointer-events: none;

  opacity: 0 !important;
  transition: 1s;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 22.5px;

  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  z-index: 9999;
}

.swiper-button-prev {
  background-image: url("/swiper-prev-button.svg");
  left: 0px !important;
  background-position: left;
}

.swiper-button-next {
  background-image: url("/swiper-next-button.svg");
  right: 0px !important;
  background-position: right;
}

.swiper-button-prev:after {
  content: "";
}

.swiper-button-next:after {
  content: "";
}
